<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="Post">
                    <input name="name" placeholder="Name" required type="text" maxlength="20">
                    <input name="month" placeholder="Month" required  type="number" min="1" max="12">
                    <input name="day" placeholder="Day" required type="number" min="1" max="31">
                    <button type="submit">Add</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{birthday.name}}</td>
                                <td>{{birthday.month}}/{{birthday.day}}</td>
                                <td>
                                    <form action="/delete" method="POST">
                                        <input type="hidden" name="id" value="{{ birthday.id}}">
                                        <button type="submit">❌</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
